@charset "UTF-8";
/* 変数
==================================*/
/* メディアクエリ
==================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  color: #3E3E3E;
  font-family: 'Montserrat','游ゴシック';
  line-height: 1.5;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  line-height: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3E3E3E;
  max-width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

a:hover {
  -webkit-transition: .4s;
  transition: .4s;
}

.section {
  padding-right: 3.125%;
  padding-left: 3.125%;
}

.inner {
  padding-right: 5%;
  padding-left: 5%;
}

/* mixinファイル
==================================*/
/* moduleファイル
==================================*/
/* コンテンツスタイル
===================================== */
/* header
---------------------------- */
.header {
  background: rgba(255, 255, 255, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.add-scrolled .header {
  background: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    text-align: center;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 1000;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background: rgba(255, 255, 255, 0.6);
    height: 68px;
  }
}

@media screen and (min-width: 768px) {
  .header-ttl {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-ttl {
    margin: 20px 0 0 16px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-size: 23px;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .add-active .header-ttl {
    opacity: 0;
  }
}

.header-burger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header-burger {
    display: block;
    height: 26px;
    left: -40px;
    position: absolute;
    top: 20px;
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
    width: 26px;
  }
}

@media screen and (max-width: 767px) {
  .header-burgerInline {
    background-color: #3e3e3e;
    border-radius: 4px;
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 26px;
    z-index: 1;
  }
  .header-burgerInline:nth-child(1) {
    top: 2px;
  }
  .header-burgerInline:nth-child(2) {
    top: 10px;
  }
  .header-burgerInline:nth-child(3) {
    top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .add-active .header-burgerInline {
    background-color: #fff;
  }
  .add-active .header-burgerInline:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .add-active .header-burgerInline:nth-child(2) {
    left: 100%;
    opacity: 0;
  }
  .add-active .header-burgerInline:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.header-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  visibility: hidden;
  width: 100%;
}

.add-active .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .header-nav {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    background: #fff;
    bottom: 0;
    position: fixed;
    right: -300px;
    text-align: center;
    top: 0;
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
    width: 300px;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .add-active .header-nav {
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-navItem + .header-navItem {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header-navItem + .header-navItem {
    margin-top: 20px;
  }
}

.header-navLink {
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -.025em;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-navLink {
    padding: 0.5em 0;
  }
  .header-navLink:after {
    background: #3e3e3e;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: 100%;
  }
  .header-navLink:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media screen and (max-width: 767px) {
  .header-navLink {
    font-size: 1.125rem;
  }
}

.footer {
  background: #3E3E3E;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer-inner {
  padding: 60px 12.5%;
}

@media screen and (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-inner {
    text-align: center;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: .6;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .footer-sns {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns-twitter {
    display: inline-block;
    margin-right: 40px;
  }
}

.footer-sns-facebook {
  margin-left: 40px;
  display: inline-block;
}

.footer-sns-facebook > img {
  margin-left: 40px;
}

.footer-sns-etc {
  display: inline-block;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .footer .fa-twitter {
    margin-right: 40px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 767px) {
  .footer .fa-twitter {
    margin-right: 50px;
    margin-bottom: 42px;
  }
}

.footer-item + .footer-item {
  display: block;
  margin-top: 24px;
}

.footer-body {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-body {
    text-align: right;
  }
}

.footer-body-logo {
  font-weight: bold;
  font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
  .footer-body-logo {
    margin-top: 40px;
  }
}

.footer-body-text {
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: normal;
  opacity: .6;
}
